In [39]:
with open('MyFile2.txt') as file:
    data = file.readlines()
data

["'A', \n",
 "'aa',\n",
 "'aal',\n",
 "'Alii',\n",
 "'Aam', \n",
 "'aani', \n",
 "'aardvark',\n",
 "'aardwolf', \n",
 "'aaron', \n",
 "'aaronic', \n",
 "'aaronical',\n",
 "'aaronite', \n",
 "'aaronitic'\n"]

In [24]:
# data_2 =[i[:-1] and i.lower() for i in data] #چرا وقتی i=i.lower میگذاریم ارور منطق میدهد؟
    
# data_2

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [61]:
data_2 = [i.lower() for i in data]
data_3 = [i[:-1] for i in data_2 ]
data_4 = sorted(set(data_3))
data_4

["'a', ",
 "'aa',",
 "'aal',",
 "'aam', ",
 "'aani', ",
 "'aardvark',",
 "'aardwolf', ",
 "'aaron', ",
 "'aaronic', ",
 "'aaronical',",
 "'aaronite', ",
 "'aaronitic'",
 "'alii',"]

In [62]:
data_5 = sorted(set([word.strip().lower() for word in data]))
data_5

["'a',",
 "'aa',",
 "'aal',",
 "'aam',",
 "'aani',",
 "'aardvark',",
 "'aardwolf',",
 "'aaron',",
 "'aaronic',",
 "'aaronical',",
 "'aaronite',",
 "'aaronitic'",
 "'alii',"]

In [48]:
sorted('dictionary') = sorted(a)

SyntaxError: cannot assign to function call (467826977.py, line 1)

In [32]:
def signiture(word):
    return ''.join(sorted(word))

In [33]:
signiture('zahra')

'aahrz'

In [59]:
word_dict = dict()

for word in data_4:
    sig_word = signiture(word)
    if sig_word not in word_dict:
        word_dict[sig_word] = [word]
    else:
        word_dict[sig_word].append(word)
word_dict

{" '',a": ["'a', "],
 "'',aa": ["'aa',"],
 "'',aal": ["'aal',"],
 " '',aam": ["'aam', "],
 " '',aain": ["'aani', "],
 "'',aaadkrrv": ["'aardvark',"],
 " '',aadflorw": ["'aardwolf', "],
 " '',aanor": ["'aaron', "],
 " '',aacinor": ["'aaronic', "],
 "'',aaacilnor": ["'aaronical',"],
 " '',aaeinort": ["'aaronite', "],
 "''aaciinort": ["'aaronitic'"],
 "'',aiil": ["'alii',"]}

In [60]:
word_dict2 = dict()                                                    
for word_2 in data_4:
    len_word = len(word_2)
    if len_word not in word_dict2:
        word_dict2[len_word] = [word_2]
    else:
        word_dict2[len_word].append(word_2)   
print(word_dict2)

{5: ["'a', ", "'aa',"], 6: ["'aal',"], 7: ["'aam', ", "'alii',"], 8: ["'aani', "], 11: ["'aardvark',", "'aaronic', ", "'aaronitic'"], 12: ["'aardwolf', ", "'aaronical',", "'aaronite', "], 9: ["'aaron', "]}